<script src="../../../../../../../Tutorials/Node.js/vimeo/index.js"></script>
<section>
  <app-navigation></app-navigation>
</section>
<section class="detailed-pane">
  <div class="row h-full">
    <div class="col-sm-2 h-full bg-white border-r">
      <div class="page-list">
        <h2 class="my-2 text-red border-b">Pages</h2>
        <ul class="options-class">
          <li class="list">Navigation</li>
          <li class="list">Home</li>
          <li class="list">Movie</li>
          <li class="list">Music</li>
          <li class="list">Documentaries</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-10 h-full px-8 py-4 bg-grey-lightest">
      <section class="switchContainer">
        <div class="switch-view">
          <p><strong>Favicon (The icon that shows at the tab in browser)</strong></p>
        </div>
        <div class="switch-view"></div>
        <div class="switch-view"></div>
      </section>
    </div>
  </div>
</section>
