<div class="text-center py-3">
  <h2 class="text-red"><img src="../../../assets/images/logo.png" style="width:40px;height: 40px;" alt="logo"> <span class="inline-block ml-2" style="transform: translateY(-34%);">ATALAKU</span></h2>
</div>
<div class="center-container text-center">
  <h1 class="mb-3 text-red" style="font-size:3.2rem;">Oops! 404 Not found</h1>
  <p class="mb-5 text-left">The page you are looking for might have been removed, had its name changed or is temporarily unavailable.</p>

  <a href="/" class="py-2 no-underline px-6 bg-red hover:bg-red-dark text-white rounded-full">Go To Homepage</a>
</div>
