.header {
  height: auto;
  padding: 1rem 2rem;
  color: #ffffff;
  p.img {
    height: 130px;
    width: 130px;
    background: url("../../../../assets/images/mboko.jpeg") no-repeat center;
    background-size: cover;
  }
  .album_title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}
.list-item {
  &:first-of-type {
    border-top: 1px solid #dddddd;
  }
}
