<app-header></app-header>

<section id="view">
  <div id="overlay">
    <div class="intro center-container text-center">
      <h1 class="title"><img src="../../../assets/images/logo.png" alt="logo"> ATALAKU</h1>
      <p class="text-lg">WATCH YOUR FAVORITE
        SHOWS TODAY FOR ONLY FCFA 5,000 A MONTH</p>
      <button (click)="navigate('subscription/month')" class="py-4 px-8 theme-color text-white my-3">SUBSCRIBE NOW</button>
    </div>
  </div>
  <div class="intro_rows">
    <div class="row">
      <div class="col-sm-4 text-center py-10">
        <h4 class="uppercase mb-3">UNLIMITED STREAMING</h4>
        <p>Get streaming access to all the content and all future releases</p>
      </div>
      <div class="col-sm-4 text-center py-10">
        <h4 class="uppercase mb-3">WATCH ANYWHERE</h4>
        <p>Enjoy on your phone, laptop up to about three devices</p>
      </div>
      <div class="col-sm-4 text-center py-10">
        <h4 class="uppercase mb-3">SUPPORT THE CREATORS</h4>
        <p>Directly support the creators and help them provide you with more content</p>
      </div>
    </div>
  </div>

  <div class="intro_rows text-center">
    <div class="row pt-8 pb-16">
      <div class="col-sm-12">
        <h1 class="mb-6">Subscribe now!</h1>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <div class="pricing_plan">
          <h2>FCFA 5,000/month</h2>
          <p>Charged once a month, cancel subscription anytime</p>
          <button (click)="navigate('subscription/month')" class="py-2 px-4 theme-color text-white my-3">Subscribe</button>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="pricing_plan">
          <h2>FCFA 57,600/yr</h2>
          <p>Charged at 4,800 a month, cancel subscription anytime</p>
          <button (click)="navigate('subscription/year')" class="py-2 px-4 theme-color text-white my-3">Subscribe</button>
        </div>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <div class="intro_rows text-center">
    <h1>Get in. Get busy. Get Atalaku</h1>
    <h4 class="mb-2">Here are some of the show's you're missing..</h4>
    <div class="row pictures">
      <div class="col-sm-3 pic">
        <a routerLink="watch/1">
          <img src="../../../assets/images/ba3ce490-6aa7-42e9-b037-1c269dd3c5fb-3a491ced7f87.jpg" alt="">
        </a>
      </div>
      <div class="col-sm-3 pic">
        <a routerLink="watch/2">
          <img src="../../../assets/images/a905a1c3-9bb3-470d-8fe3-980161326f75-7f9dee80.jpg" alt="">
        </a>
      </div>
      <div class="col-sm-3 pic">
        <a routerLink="watch/3">
          <img src="../../../assets/images/889eeac5-0032-439a-a400-5ec1199d735e-5627a887.jpg" alt="">
        </a>
      </div>
      <div class="col-sm-3 pic">
        <a routerLink="watch/4">
          <img src="../../../assets/images/a6b7d86f-09a3-4563-8686-674cd0c63591-f986fa34.jpg" alt="">
        </a>
      </div>
    </div>
    <div class="row pictures">
      <div class="col-sm-3 pic">
        <a routerLink="watch/5">
          <img src="../../../assets/images/a86f23d2-b856-49cb-bcbc-60467bdfa78f-7a7ef1a67f87.jpg" alt="">
        </a>
      </div>
      <div class="col-sm-3 pic">
        <a routerLink="watch/6"></a>
        <img src="../../../assets/images/889eeac5-0032-439a-a400-5ec1199d735e-5627a887.jpg" alt="">
      </div>
      <div class="col-sm-3 pic">
        <a routerLink="watch/5">
          <img src="../../../assets/images/94f72a38-2b08-4025-b233-f8c4696bbbfe-2bf5065c4e42.jpg" alt="">
        </a>
      </div>
      <div class="col-sm-3 pic">
        <img src="../../../assets/images/da72c34e-7845-42f8-a288-79f6450f0929-ae77e6704e42.jpg" alt="">
      </div>
    </div>
    <div class="row pictures">
      <div class="col-sm-3 pic">
        <img src="../../../assets/images/001dea61-3eb7-47b5-9640-dc447e3d3990-5ffd86644e42.jpg" alt="">
      </div>
      <div class="col-sm-3 pic">
        <img src="../../../assets/images/ba3ce490-6aa7-42e9-b037-1c269dd3c5fb-3a491ced7f87.jpg" alt="">
      </div>
      <div class="col-sm-3 pic">
        <img src="../../../assets/images/da72c34e-7845-42f8-a288-79f6450f0929-ae77e670a5be.jpg" alt="">
      </div>
      <div class="col-sm-3 pic">
        <img src="../../../assets/images/fba0ebba-bbe0-452b-ab3a-155669149458-1d56609dd2aa.jpg" alt="">
      </div>
    </div>
  </div>

</section>
