<app-header></app-header>

<section id="view">
  <!-- search bar -->
  <app-video-search-bar></app-video-search-bar>
  <!--contents-->
  <section class="contents row">
    <div class="col-sm-3 h-full overflow-y-auto py-3">
      <div class="most-view">
        <div class="header mb-2 bg-red-dark px-6 py-4 text-white">
          <p>Most viewed videos</p>
        </div>
        <div class="body">
          <div class="video-card">
            <div class="header">
              <img src="../../../../assets/images/a6b7d86f-09a3-4563-8686-674cd0c63591-f986fa34.jpg" alt="">
              <span class="duration">03:45</span>
            </div>
            <div class="foot">
              <p class="title">20 BA</p>
              <small class="artist">Jovi</small>
              <div class="attr">
                <span><fa-icon [icon]="viewsIcon"></fa-icon> 7.2k</span>
                <span><fa-icon [icon]="likesIcon"></fa-icon> 7.2k</span>
              </div>
            </div>
          </div>
        </div>
        <p class="p-4 text-right">View all</p>
      </div>
      <div class="recent">
        <div class="header mb-2 bg-orange-dark px-6 py-4 text-white">
          <p>Recent videos</p>
        </div>
        <div class="body">
          <div class="video-card">
            <div class="header">
              <img src="../../../../assets/images/mboko.jpeg" alt="">
              <span class="duration">03:45</span>
            </div>
            <div class="foot">
              <p class="title">Sock sock</p>
              <small class="artist">Jovi</small>
              <div class="attr">
                <span><fa-icon [icon]="viewsIcon"></fa-icon> 7.2k</span>
                <span><fa-icon [icon]="dislikesIcon"></fa-icon> 2.8k</span>
              </div>
            </div>
          </div>
          <div class="video-card">
            <div class="header">
              <img src="../../../../assets/images/magufuli.jpeg" alt="">
              <span class="duration">03:45</span>
            </div>
            <div class="foot">
              <p class="title">Magufuli</p>
              <small class="artist">WaxDey x Locko x Mr.Leo</small>
              <div class="attr">
                <span><fa-icon [icon]="likesIcon"></fa-icon> 7.2k</span>
                <span><fa-icon [icon]="dislikesIcon"></fa-icon> 2.8k</span>
              </div>
            </div>
          </div>
        </div>
        <p class="p-4 text-right">View all</p>
      </div>
    </div>
    <!--all videos show here-->
    <div class="col-sm-9 border-l h-full overflow-y-auto" style="padding-right: 0;">
      <div class="row">
        <div *ngFor="let video of musicVideosData;let i = index" class="videos col-sm-4 mt-3 border-r">
          <a [routerLink]="video.url" style="text-decoration: none;color: inherit;">
            <div class="video-card">
              <div class="header">
                <img src="../../../../assets/images/a6b7d86f-09a3-4563-8686-674cd0c63591-f986fa34.jpg" alt="">
                <span class="duration">03:45</span>
              </div>
              <div class="foot">
                <p class="title">{{video.title}}</p>
                <small class="artist">{{video.artist}}</small>
                <div class="attr">
                  <button mat-button><fa-icon [icon]="viewsIcon" size="1x"></fa-icon> 10k</button>
                  <button mat-button><fa-icon [icon]="likesIcon"></fa-icon> 7.2k</button>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!--player with minimizable-->
  <!--<app-video></app-video>-->
</section>
