<nav>
  <ul>
    <li class="brand_name"><img src="../assets/images/logo.png" alt="logo"> Atalaku</li>
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a routerLink="/music" routerLinkActive="active">Music</a></li>
    <!--<li><a routerLink="movies" routerLinkActive="active">Movies</a></li>-->
    <li><a routerLink="/videos" routerLinkActive="active">Videos</a></li>
    <li><a routerLink="/documentary" routerLinkActive="active">Documentaries</a></li>
  </ul>
  <ul class="pull-right">
    <li>
      <input class="rounded-full border p-2" placeholder="search.." type="search" id="global_search_input" />
    </li>
    <li><a routerLink="/subscription/month" routerLinkActive="active">Register</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Sign in</a></li>
  </ul>
</nav>
