nav#sideNav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 230px;
  box-shadow: 0 6px 26px rgba(0, 0, 0, 0.12);
  overflow: auto;
  .head {
    height: 50px;
    position: relative;
    padding: 10px 10px 10px 55px;
    img {
      position: absolute;
      top: 50%;
      height: 35px;
      left: 10px;
      width: auto;
      transform: translateY(-50%);
    }
    .title {
      font-weight: 600;
      font-size: 1.2rem;
      color: #cf3c2f;
      small {
        font-size: 0.8rem;
      }
    }
  }
  .body {
    height: calc(100% - 50px);
    overflow: auto;
    background-color: #09171d;
    padding-top: 18px;
  }
   ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
     a {
       //margin: 10px;
       display: block;
       text-decoration: none;
       font-size: 0.875rem;
       font-weight: 500;
       height: 45px;
       line-height: 45px;
       padding-left: 2rem;
       white-space: nowrap;
       text-overflow: ellipsis;
       width: 100%;
       color: #e3fcec;
       margin-bottom: 0.3rem;
       &:hover {
         background-color: rgba(0, 0, 0, 0.12);
       }
       &.active {
         //border-bottom: 1px solid red;
         //color: red;
         background-color: #CC1F1A;
       }
       fa-icon{
         margin-right: 10px;
       }
     }
   }
}

nav#sideNav .mat-expansion-panel {
  background: transparent !important;
  color: #ffffff !important;
  border-radius: 0!important;
}

nav#toolbar {
  position: fixed;
  right: 0;
  left: 230px;
  height: 50px;
  box-shadow: 0 6px 26px rgba(0, 0, 0, 0.12);
  div.user {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 50px;
    padding: 0 15px 0 45px;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
    img {
      height: 35px;
      width: 35px;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
    fa-icon {
      margin-left: 10px;
    }
  }
}
