<section id="audio_player">
  <div class="banner">
    <div class="image">
      <img src="../../../assets/images/mboko.jpeg" alt="">
    </div>
    <div class="song-info">
      <h4 class="song-title">Sock Sock</h4>
      <h5 class="artist">Jovi</h5>
    </div>
  </div>
  <div class="controls">
    <div class="track">
      <section class="bar"><span class="ball"></span></section>
    </div>
    <div class="buttons">
      <button mat-button><fa-icon [icon]="previousIcon"></fa-icon></button>
      <button mat-button><fa-icon [icon]="playIcon"></fa-icon></button>
      <button mat-button><fa-icon [icon]="nextIcon"></fa-icon></button>
    </div>
  </div>
  <div class="extensions"></div>
</section>
