<section id="view">
  <section class="overlay" [ngStyle]="{'background': 'url('+activeMovie.img_url+')'}">
    <div class="shader"></div>
  </section>
  <section class="info_panel">
    <div class="content_box row">
      <div class="col-sm-3">
        <div class="_box px-3 py-4 my-2 border">
          <small>Release Date</small>
          <p>{{ activeMovie.dateString }}</p>
        </div>
        <div class="_box px-3 py-4 my-2 border">
          <small>Duration</small>
          <p>{{ activeMovie.durationString() }}</p>
        </div>
      </div>
      <div class="col-sm-9">
        <section class="header">
          <h1 class="title">{{ activeMovie.title }}</h1>
          <p class="meta_1">
            <span>{{ activeMovie.genre }} |</span>
            <span>{{ activeMovie.releaseYear }} |</span>
            <span>{{ activeMovie.ratings }} ratings |</span>
            <span class="box_rated">PG {{ activeMovie.rated }}</span>
          </p>
        </section>
        <section class="action">
          <span class="mr-3"><button mat-raised-button color="primary">Watch</button></span>
          <span class="mr-3"><button (click)="openModal()" mat-raised-button class="theme-color text-white">Trailer</button></span>
          <span><button mat-raised-button class="bg-grey">Share</button></span>
        </section>
        <section class="video-post">
          <p>Mae Holland (Emma Watson) seizes the opportunity of a lifetime when she lands a job with the world’s most powerful technology and social media company. Encouraged by the company’s founder (Tom Hanks), Mae joins a groundbreaking experiment that pushes the boundaries of privacy, ethics and personal freedom. Her participation in the experiment, and every decision she makes soon starts to affect the lives and futures of her friends, family and that of humanity.</p>
        </section>
        <section class="related-content">
          <h3 class="title">More like this</h3>
          <div class="row">
            <div class="card col-sm-3"><img src="../../../assets/images/a905a1c3-9bb3-470d-8fe3-980161326f75-7f9dee80bc55.jpg" alt=""></div>
            <div class="card col-sm-3"><img src="../../../assets/images/a6b7d86f-09a3-4563-8686-674cd0c63591-f986fa34.jpg" alt=""></div>
            <div class="card col-sm-3"><img src="../../../assets/images/29b506f7-1c72-4bf4-a5cd-166c8ac9659b-112f4d8ebc55.jpg" alt=""></div>
            <div class="card col-sm-3"><img src="../../../assets/images/da72c34e-7845-42f8-a288-79f6450f0929-ae77e6704e42.jpg" alt=""></div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <!--modal-->
  <section id="trailer-modal" class="modal modal-container">
    <div class="content"></div>
  </section>
</section>
