<section>
  <app-navigation></app-navigation>
</section>
<section class="detailed-pane">
  <div id="header" class="bg-orange-dark text-white">
    <h2>Users</h2>
    <p>Manage registered users.</p>
  </div>
  <div id="body" class="px-2 py-3">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Plan</th>
          <th>Country/Region</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hubert</td>
          <td>hformin@gmail.com</td>
          <td>Gold</td>
          <td>CM</td>
        </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Plan</th>
        <th>Country/Region</th>
      </tr>
      </tfoot>
    </table>
  </div>
</section>
