<section>
  <app-navigation></app-navigation>
</section>
<section class="detailed-pane">
  <div id="header" class="bg-orange-dark text-white">
    <h2>UsersModel</h2>
    <p>Manage registered users.</p>
  </div>
  <div id="body" class="px-2 py-3">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Plan</th>
          <th>Country/Region</th>
          <th>Joined</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index;">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.subscriptionId}}</td>
          <td>{{user.country}}</td>
          <td>{{user.joinedDate}}</td>
        </tr>
      </tbody>
      <tfoot>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Plan</th>
        <th>Country/Region</th>
        <th>Joined</th>
      </tr>
      </tfoot>
    </table>
  </div>
</section>
