<app-header></app-header>
<!-- page content container-->
<section id="view">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <div class="py-8">
        <div class="row">
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 item-view">
            <div class="card">
              <div class="header"></div>
              <div class="body">
                <h4 class="card_body_title">The outlien og the new cartster and the news special</h4>
                <p class="card_body_details"><small>200 views | 7 months ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
