<section id="view">
  <section id="header">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="box">
          <div class="contents full">
            <div class="text">
              <h1>Heading</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad, aperiam consequatur esse id iure laudantium maxime molestias nostrum porro rem totam ullam veniam vero voluptate voluptatem. Ad, tempora!</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="box">
          <div class="contents full">
            <div class="text">
              <h1>Heading</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad, aperiam consequatur esse id iure laudantium maxime molestias nostrum porro rem totam ullam veniam vero voluptate voluptatem. Ad, tempora!</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="box">
          <div class="contents full">
            <div class="text">
              <h1>Second Heading</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad, aperiam consequatur esse id iure laudantium maxime molestias nostrum porro rem totam ullam veniam vero voluptate voluptatem. Ad, tempora!</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="box">
          <div class="contents full">
            <div class="text">
              <h1>Third Heading</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad, aperiam consequatur esse id iure laudantium maxime molestias nostrum porro rem totam ullam veniam vero voluptate voluptatem. Ad, tempora!</p>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="box">
          <div class="contents full">
            <div class="text">
              <h1>Fourth Heading</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad, aperiam consequatur esse id iure laudantium maxime molestias nostrum porro rem totam ullam veniam vero voluptate voluptatem. Ad, tempora!</p>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </section>
  <!---->
  <section id="body">
    <!-- Trending -->
    <section class="panel">
      <div class="head"><h2>Trending > </h2></div>
      <owl-carousel-o [options]="multipleOptions">
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/wax-dey.jpeg" alt="">
              <div class="contents">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/mboko.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MBOKO GOD</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/magufuli.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MAGUFULI</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/mboko.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MBOKO GOD</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/magufuli.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MAGUFULI</h4>
                  <p>WaxDey x Locko x Mr.Leo</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </section>

    <!-- New tracks -->
    <section class="panel">
      <div class="head"><h2>New Tracks > </h2></div>
      <owl-carousel-o [options]="multipleOptions">
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/wax-dey.jpeg" alt="">
              <div class="contents">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/mboko.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MBOKO GOD</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/magufuli.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MAGUFULI</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/mboko.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MBOKO GOD</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/magufuli.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MAGUFULI</h4>
                  <p>WaxDey x Locko x Mr.Leo</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </section>

    <!-- Recommended for you -->
    <section class="panel">
      <div class="head"><h2>Recommended for you > </h2></div>
      <owl-carousel-o [options]="multipleOptions">
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/wax-dey.jpeg" alt="">
              <div class="contents">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/mboko.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MBOKO GOD</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/magufuli.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MAGUFULI</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/mboko.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MBOKO GOD</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/magufuli.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MAGUFULI</h4>
                  <p>WaxDey x Locko x Mr.Leo</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </section>

    <!-- Top grossing albums for you -->
    <section class="panel bg-black">
      <div class="head"><h2 style="color: #ffffff">Top grossing albums > </h2></div>
      <owl-carousel-o [options]="multipleOptions">
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/wax-dey.jpeg" alt="">
              <div class="contents">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/mboko.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MBOKO GOD</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/magufuli.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MAGUFULI</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/mboko.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MBOKO GOD</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/magufuli.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MAGUFULI</h4>
                  <p>WaxDey x Locko x Mr.Leo</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </section>

    <!-- Recommended for you -->
    <section class="panel">
      <div class="head"><h2>From your recent picks > </h2></div>
      <owl-carousel-o [options]="multipleOptions">
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/wax-dey.jpeg" alt="">
              <div class="contents">
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/mboko.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MBOKO GOD</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/magufuli.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MAGUFULI</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/mboko.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MBOKO GOD</h4>
                  <p>Jovi</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="box">
            <div class="card">
              <img src="../../../assets/images/magufuli.jpeg" alt="">
              <div class="contents">
                <div class="text">
                  <h4>MAGUFULI</h4>
                  <p>WaxDey x Locko x Mr.Leo</p>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </section>
  </section>
  <!--player-->
  <section id="player" class="shadow-lg">
    <app-audio-player [banner]="'red'"></app-audio-player>
  </section>

</section>
