<section id="">
  <app-navigation></app-navigation>
</section>
<section class="detailed-pane py-5">
  <div class="row pb-3">
    <div class="col-sm-3">
      <mat-card class="bg-purple-dark text-white">
        <h1>4,001</h1>
        <p>
          <small>Visitors</small>
        </p>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="bg-orange-dark text-white">
        <h1>6,00</h1>
        <p><small>Registered users.</small></p>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="bg-indigo-dark text-white">
        <h1>2,000</h1>
        <p><small>Music</small></p>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="bg-green-dark text-white">
        <h1>4,000</h1>
        <p><small>Music videos</small></p>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <mat-card class="bg-yellow-dark text-white">
        <h1>401</h1>
        <p>
          <small>Movies</small>
        </p>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="bg-grey-dark text-white">
        <h1>40</h1>
        <p><small>Blog post.</small></p>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="bg-teal-dark text-white">
        <div class="row">
          <h2 class="col-sm-5">2,000</h2>
          <h2 class="col-sm-7">Music</h2>
        </div>
      </mat-card>
    </div>
    <div class="col-sm-3">
      <mat-card class="bg-pink-dark text-white">
        <h1>4,000</h1>
        <p><small>Music videos</small></p>
      </mat-card>
    </div>
  </div>

</section>
