table {
  border-collapse: collapse;
  width: 100%;
  font-size: 18px;
  thead tr {
    border-bottom: 1px solid #000000;
  }
  th, td {
    text-align: left;
    padding: 12px;
    &.small {
      width: 6%;
    }
  }
  tbody {
    border: none;
    tr {
      border-bottom: 1px solid #ddd;

      &.header, &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}

#editModal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  .modal-body {
    padding: 2rem 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 16px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    min-width: 20%;
    min-height: 20%;
  }
}
