<section>
  <app-navigation></app-navigation>
</section>
<section class="detailed-pane">
  <div class="row py-3 h-full">
    <div class="col-sm-4 border-r h-full">
      <h3 class="text-red">Music genres</h3>
      <div class="form">
        <mat-form-field>
          <mat-label>Genre</mat-label>
          <input type="text" (keyup.enter)="createGenre('music')" matInput placeholder="Enter genre name" [(ngModel)]="musicGenreForm.name" />
        </mat-form-field>
        <span class="ml-2">
          <button (click)="createGenre('music')" mat-raised-button class="bg-red text-white">+ Add</button>
        </span>
      </div>
      <!--set's -->
      <div class="sets">
        <table>
          <thead>
          <tr>
            <th>Name</th>
            <th class="small"></th>
            <th class="small"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let musicGenre of allMusicGenres;let i = index;">
            <td>{{musicGenre.name}}</td>
            <td class="small" (click)="editGenre('music', i)"><fa-icon [icon]="editIcon"></fa-icon></td>
            <td class="small" (click)="deleteGenre('music', i)"><fa-icon [icon]="deleteIcon"></fa-icon></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>

      </div>
    </div>
    <div class="col-sm-5 border-r h-full">
      <h3 class="text-red">Movies genres</h3>
      <div class="form">
        <mat-form-field>
          <mat-label>Genre</mat-label>
          <input type="text" (keyup.enter)="createGenre('movie')" matInput placeholder="Enter genre name" [(ngModel)]="movieGenreForm.name" />
        </mat-form-field>
        <span class="ml-2">
          <button (click)="createGenre('movie')" mat-raised-button class="bg-red text-white">+ Add</button>
        </span>
      </div>
      <!--set's-->
      <div class="sets">
        <table>
          <thead>
          <tr>
            <th>Name</th>
            <th class="small"></th>
            <th class="small"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let movieGenre of allMoviesGenres;let i = index;">
            <td>{{movieGenre.name}}</td>
            <td class="small" (click)="editGenre('movie', i)"><fa-icon [icon]="editIcon"></fa-icon></td>
            <td class="small" (click)="deleteGenre('movie', i)"><fa-icon [icon]="deleteIcon"></fa-icon></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--some explanatory text-->
    <div class="col-sm-3 py-16">
      <details open class="my-3 py-3 bg-grey-lighter border px-2">
        <summary>Music Genres</summary>
        <ul class="pl-8">
          <li>Set's for both audio and music vidoes</li>
          <li>Required when adding a music file</li>
        </ul>
      </details>
      <details open class="py-3 bg-grey-lighter px-2">
        <summary>Movie Genres</summary>
        <ul class="pl-8">
          <li>Required on creation of movie categories</li>
        </ul>
      </details>
    </div>
  </div>
</section>

<section id="editModal" #modal>
  <div class="modal-body">
    <h4 class="text-red mb-4">Update genre</h4>
    <div class="form border-t border-b py-2 mb-2 px-8">
      <mat-form-field>
        <mat-label>Genre new name</mat-label>
        <input (keyup.enter)="updateGenre()" type="text" [(ngModel)]="updateForm.name" placeholder="Enter genre new name" matInput>
      </mat-form-field>
    </div>
    <div class="form text-right">
      <button (click)="updateGenre()" class="bg-red text-white" mat-button>Update</button>
      <span class="ml-2"><button (click)="modal.style.display = 'none'" class="bg-grey text-white" mat-button>cancel</button></span>
    </div>
  </div>
</section>
