<section id="player-container">
  <div id="player">
    <!--<video src="../../../assets/video.mp4" controls></video>-->
    <div data-vimeo-url="https://www.w3schools.com/html/mov_bbb.mp4" id="video_player"></div>
  </div>
  <div id="playlist_opener"></div>
  <div id="playlist">
    <div class="body">
      <div class="list row">
        <div class="col-sm-4">
          <img src="../../../assets/images/da72c34e-7845-42f8-a288-79f6450f0929-ae77e6704e42.jpg" alt="">
        </div>
        <div class="col-sm-8">
          <h4>Home boy</h4>
          <p>
            <small>Boy Tag</small>
          </p>
        </div>
      </div><div class="list row">
        <div class="col-sm-4">
          <img src="../../../assets/images/da72c34e-7845-42f8-a288-79f6450f0929-ae77e6704e42.jpg" alt="">
        </div>
        <div class="col-sm-8">
          <h4>Home boy</h4>
          <p>
            <small>Boy Tag</small>
          </p>
        </div>
      </div><div class="list row">
        <div class="col-sm-4">
          <img src="../../../assets/images/da72c34e-7845-42f8-a288-79f6450f0929-ae77e6704e42.jpg" alt="">
        </div>
        <div class="col-sm-8">
          <h4>Home boy</h4>
          <p>
            <small>Boy Tag</small>
          </p>
        </div>
      </div><div class="list row">
        <div class="col-sm-4">
          <img src="../../../assets/images/da72c34e-7845-42f8-a288-79f6450f0929-ae77e6704e42.jpg" alt="">
        </div>
        <div class="col-sm-8">
          <h4>Home boy</h4>
          <p>
            <small>Boy Tag</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
