<section class="view relative w-full h-full">
  <div class="center-container">
    <form (submit)="authenticate($event)" action="#" [formGroup]="formField" class="bg-white rounded px-8 pt-6 pb-8 mb-4 mx-auto">
      <div class="form-header">
        <p class="text-center"><img class="logo" src="../../../assets/images/logo.png" alt=""></p>
        <h3 class="text-red-dark text-center my-3">ATALAKU<small style="font-size: 0.5rem;">Admin</small></h3>
      </div>
      <div class="relative">
        <p *ngIf="formError.status" class="my-2 mx-auto bg-red-lightest border-red rounded text-red-dark px-4 py-1 text-sm">{{formError.message}}</p>
        <ngx-loading [show]="loading" [config]="{ animationType: animationType, backdropBorderRadius: '3px' ,backdropBackgroundColour: 'rgba(255,255,255,0.6)', backdropBorderRadius: '4px', primaryColour: '#3ebe57', secondaryColour: '#cb0e02', tertiaryColour: '#ffee35'}"></ngx-loading>
        <div class="mb-4">
          <label [ngClass]="{'text-red': username.invalid && (username.dirty || username.touched), 'text-green': username.valid}" class="block text-grey-darker text-sm font-bold mb-2" for="username">
            Username
          </label>
          <input [ngClass]="{'border-red': username.invalid && (username.dirty || username.touched), 'bg-red-lightest': username.invalid && (password.dirty || password.touched), 'border-green': username.valid, 'bg-green-lightest': username.valid}" formControlName="username"
                 class="bg-grey-lightest appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none" id="username" type="text" placeholder="Username">
          <p *ngIf="username.invalid && (username.dirty)" class="text-red text-xs italic">Please insert a valid username.</p>
        </div>
        <div class="mb-6">
          <label [ngClass]="{'text-red': password.invalid && (password.dirty || password.touched), 'text-green': password.valid}" class="block text-grey-darker text-sm font-bold mb-2" for="password">
            Password
          </label>
          <input [ngClass]="{'border-red': password.invalid && (password.dirty || password.touched), 'bg-red-lightest': password.invalid && (password.dirty || password.touched), 'border-green': password.valid, 'bg-green-lightest': password.valid}" formControlName="password"
                 class="bg-grey-lightest appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none" id="password" type="password" placeholder="******************">
          <p *ngIf="password.invalid && (password.dirty)" class="text-red text-xs italic">Please insert a valid password.</p>
        </div>
        <div class="flex items-center justify-center">
          <button id="submitBtn" class="bg-red-dark hover:bg-red-darker text-white font-bold py-2 px-6 rounded-full focus:shadow-outline" type="submit">
            Login
          </button>
        </div>
      </div>
    </form>
    <p class="text-center text-grey text-xs">
      ©2019 Atalaku. All rights reserved.
    </p>
  </div>
</section>
