<section class="view relative w-full h-full">
  <div class="center-container">
    <form (submit)="authenticate($event)" action="#" [formGroup]="formField" class="bg-white rounded px-8 pt-6 pb-8 mb-4 mx-auto">
      <div class="form-header">
        <p class="text-center"><img class="logo" src="../../../assets/images/logo.png" alt=""></p>
        <h3 class="text-red-dark text-center my-3">ATALAKU<small style="font-size: 0.5rem;">Admin</small></h3>
      </div>
      <div class="mb-4">
        <label [ngClass]="{'text-red': username.invalid && (username.dirty || username.touched)}" class="block text-grey-darker text-sm font-bold mb-2" for="username">
          Username
        </label>
        <input [ngClass]="{'border-red': username.invalid && (username.dirty || username.touched)}" formControlName="username"
               class="bg-grey-lightest appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-red" id="username" type="text" placeholder="Username">
        <p *ngIf="username.invalid && (username.dirty || username.touched)" class="text-red text-xs italic">Please insert a valid username.</p>
      </div>
      <div class="mb-6">
        <label [ngClass]="{'text-red': password.invalid && (password.dirty || password.touched)}" class="block text-grey-darker text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input [ngClass]="{'border-red': password.invalid && (password.dirty || password.touched)}" formControlName="password"
               class="bg-grey-lightest appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight focus:outline-none focus:bg-white focus:border-red" id="password" type="password" placeholder="******************">
        <p *ngIf="password.invalid && (password.dirty || password.touched)" class="text-red text-xs italic">Please insert a valid password password.</p>
      </div>
      <div class="flex items-center justify-center">
        <button class="bg-red-dark hover:bg-red-darker text-white font-bold py-2 px-6 rounded-full focus:shadow-outline" type="submit">
          Login
        </button>
      </div>
    </form>
    <p class="text-center text-grey text-xs">
      ©2019 Atalaku. All rights reserved.
    </p>
  </div>
</section>
