/* You can add global styles to this file, and also import other style files */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$atalaku-default-primary: mat-palette($mat-red);
$atalaku-default-accent: mat-palette($mat-green, 900, 200, A400);
// The warn palette is optional (defaults to red).
$atalaku-default-warn: mat-palette($mat-deep-orange);
// Create the theme object (a Sass map containing all of the palettes).
$atalaku-default-theme: mat-light-theme($atalaku-default-primary, $atalaku-default-accent, $atalaku-default-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($atalaku-default-theme);
//
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "~angular-notifier/styles";
// Theme
@import "app/theme/theme";

* {margin: 0; padding: 0; box-sizing: border-box;outline: none !important;}
html, body {
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
    // color: rgb(255, 255, 255);
    color: rgba( 0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    // background-color: rgb(4, 4, 4);
    background-color: rgb( 255, 255, 255);
    overflow: hidden;
  }

div.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#view {
  position: fixed;
  top: 55px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.detailed-pane {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  left: 230px;
  overflow: auto;
}

// overiding material theme classes
.mat-tab-label, .mat-tab-link {
  // color: #ffffff !important;
}

.input-field {
  margin: 0.75rem 0;
  width: 100%;
  &.group {
    &::after{
      content: '';
      display: table;
      clear: both;
    }
    position: relative;
    .divider {
      width: 2%;
      display: inline-block;
      height: 40px;
      background: #3e3e3e;
      background: hsla(0,0%,100%,.2);
      line-height: 40px;
      float: left;
    }
    input {
      float: left;
      width: 49%;
      border-radius: 0;
      display: inline-block;
      &:first-of-type {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: none;
      }
      &:last-of-type {
        border-left: none;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  overflow-y: auto;
  padding-top: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 35%;
    min-height: 50%;
    background-color: #ffffff;
  }
  .content-bottom {
    position: absolute;
    bottom: 0;
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    background-color: #ffffff;
  }
}

.theme-color {
  background-color: $accent-color;
}
.text-theme-color {
  color: $accent-color;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

//scroll bars
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cdcdcd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}
