<div class="overlay">
  <div class="center-container">
    <h2>Subscribe today..</h2>
    <div class="form">
      <form action="">
        <mat-tab-group>
          <mat-tab label="Card">
            <form action="#">
              <div class="input-field">
                <input type="text" placeholder="Email address" />
              </div>
            </form>
          </mat-tab>
          <mat-tab label="PayPal">
            <form action="#">

            </form>
          </mat-tab>
          <mat-tab label="Mobile money">
            <form action="#"></form>
          </mat-tab>
        </mat-tab-group>

      </form>
    </div>
  </div>

</div>
